*{
    background-color: tan;
    font-family:Arial, Helvetica, sans-serif
}

.frontPage-ImageHeader{
    display: flex;
    align-items: center;
    justify-content: center;
}

.frontPage-title{
    color: navy;
    font-size: 24px;
    text-align: center;
    border: black;
    border-style: double;
}

.frontPage-MenuItems{
    font-size: 24px;
}